#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none      &none     &none     &none     &none                                                          &none        &none     &none      &none     &none                 &none
&none  &kp Q      &kp W     &kp E     &kp R     &kp T                                                          &kp Y        &kp U     &kp I      &kp O     &lt 1 P               &none
&none  &kp A      &kp S     &kp D     &kp F     &kp G        &mkp LCLK                  &mkp RCLK              &kp H        &kp J     &kp K      &kp L     &kp MINUS             &none
&none  &kp Z      &kp X     &kp C     &kp V     &kp B        &kp SPACE                  &kp RET                &kp N        &kp M     &kp COMMA  &kp DOT   &mt RIGHT_SHIFT FSLH  &none
&none  &kp LCTRL  &kp LGUI  &kp LALT  &kp BSPC  &lt 2 SPACE  &mt LEFT_SHIFT LANGUAGE_1  &mt RSHIFT LANGUAGE_2  &lt 3 ENTER  &kp BSPC  &kp RALT   &kp RGUI  &kp RCTRL             &none
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans        &trans        &trans        &trans          &trans                        &trans    &trans    &trans    &trans  &trans  &trans
&trans  &bt BT_CLR    &none         &none         &bt BT_CLR_ALL  &none                         &none     &mkp MB4  &mkp MB5  &none   &none   &trans
&trans  &none         &mkp MCLK     &mkp RCLK     &mkp LCLK       &none         &trans  &trans  &mkp MB3  &mkp MB1  &mkp MB2  &none   &none   &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4  &trans  &trans  &none     &none     &none     &none   &none   &trans
&trans  &trans        &trans        &trans        &trans          &trans        &trans  &trans  &trans    &trans    &trans    &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans   &trans                              &trans  &trans  &trans        &trans     &trans            &trans
&trans  &kp F7  &kp F8  &kp F9  &kp F12  &kp HOME                            &kp N7  &kp N8  &kp N9        &kp PLUS   &kp LS(ASTERISK)  &trans
&trans  &kp F4  &kp F5  &kp F6  &kp F11  &kp PAGE_UP    &trans   &trans      &kp N4  &kp N5  &kp NUMBER_6  &kp MINUS  &kp SLASH         &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F10  &kp PAGE_DOWN  &kp END  &kp PERIOD  &kp N1  &kp N2  &kp NUMBER_3  &kp EQUAL  &kp BACKSLASH     &trans
&trans  &trans  &trans  &trans  &trans   &trans         &trans   &kp COMMA   &kp N0  &none   &trans        &trans     &trans            &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans            &trans            &trans            &trans            &trans                             &trans            &trans            &trans        &trans      &trans      &trans
&trans  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(N5)                         &kp LS(NUMBER_6)  &kp LS(NUMBER_6)  &kp LS(N7)    &kp LS(N8)  &kp LS(N9)  &trans
&trans  &kp QUESTION      &kp LEFT_BRACE    &kp LS(N8)        &kp LS(N9)        &kp RIGHT_BRACE    &trans  &trans  &kp LEFT          &kp DOWN          &kp UP_ARROW  &kp RIGHT   &kp ESC     &trans
&trans  &kp AT_SIGN       &kp LEFT_BRACKET  &kp LESS_THAN     &kp GREATER_THAN  &kp RIGHT_BRACKET  &trans  &trans  &kp SINGLE_QUOTE  &kp DQT           &kp GRAVE     &kp TILDE   &kp PIPE    &trans
&trans  &trans            &trans            &trans            &kp DELETE        &kp TAB            &trans  &trans  &trans            &trans            &trans        &trans      &trans      &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
